[run]
source = py/desistar
omit =
   py/desistar/_version.py
   py/desistar/conftest*
   py/desistar/cython_version*
   py/desistar/setup_package*
   py/desistar/*/setup_package*
   py/desistar/*/*/setup_package*
   py/desistar/sphinx/*
   py/desistar/test/*
   py/desistar/*/test/*
   py/desistar/*/*/test/*

[report]
exclude_lines =
   # Have to re-enable the standard pragma
   pragma: no cover

   # Don't complain about packages we have installed
   except ImportError

   # Don't complain if tests don't hit assertions
   raise AssertionError
   raise NotImplementedError

   # Don't complain about script hooks
   def main\(.*\):
